body {
  margin:0;
  padding:0;
  background-color: white;
  height: 100vh;
}

p {
  margin: 0;
  color: rgb(92, 92, 92);
}

#root {
  height: 100%;
}

#header {
  display: flex;
  position:relative;
  height: Auto;
  border-color: #ECECEC ;
  border-bottom-style: solid;
  padding: 10px
}

#submit-ticket {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#ticket-submit {
  display: block;
}

#ticket-form {
  padding: 30px;
  background-color: white;
  margin: auto;
  margin-top: 40px;
  min-width: 400px;
  max-width: 800px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

table {
  margin: auto;
}

.td-ticket-form {
  color: rgb(92, 92, 92);
  vertical-align: top;
  padding: 15px;
  font-size: 14pt;
  letter-spacing: .025em;
  font-weight: 300;
  font-family: nunito sans,sans-serif;
  text-align: right;
}

h1 {
  color: rgb(92, 92, 92);
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 28pt;
  font-weight: 400;
  font-family: sans-serif;
}

input, #submit-description {
  width: 55vh;
  font-size: 14pt;
  padding: 5px;
  letter-spacing: .025em;
  font-weight: 300;
  font-family: sans-serif;
}

#submit-description {
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}

.clickable-button {
  color: rgb(38, 38, 38);
  background-color: rgb(168 168 168);
  border: 1px solid rgb(0, 0, 0);
  width: 150px;
  height: 60px;
  padding: 11px 0;
  border: none;
  font-weight: 400;
  font-size: 20pt;
  margin-right: 20px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #0371d1;
  }
}

.ticket-data {
  overflow: auto;
  text-wrap: nowrap;
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: 200;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.ticket-status {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#tickets-table {
  border-collapse: collapse;
  margin-top: 30px;
  width: 100%;
}

.ticket-table-header {
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: 400;
  padding: 15px;
  background-color: rgb(243,244,245);
  border: 1px solid #ccc;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
  &:active {
    background-color: rgb(243,244,245);;
  }
}

#empty-square {
  font-size: 16pt;
  font-family: sans-serif;
  font-weight: 400;
  padding: 15px;
  background-color: rgb(243,244,245);
  border: 1px solid #ccc;
}

.status-select {
  height: 100%;
  margin-right: 10px;
  background-color: transparent;
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: 200;
  border-style: none;
  padding: 20px;
}

.status-select select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

#ticket-table-div {
  background-color: white;
  width: auto;
  padding-top: 20px;
  margin: auto;
  border: 1px solid #ccc;
}

#message-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: fit-content;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 2;
}

#blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 1;
}

#modal-textarea {
  justify-self: flex-end;
  border: 1px solid #ccc;
  margin-top: 30px;
  overflow: scroll ;
  resize: vertical;
  height: 20vh;
  min-height: 100px;
  max-height: 300px;
  font-size: 14pt;
  font-family: sans-serif;
  padding: 20px;
  resize: vertical;
}

.modal-button {
  margin-top: 30px;
  margin-right: 10px;
  background-color: rgb(222,222,214);
  width: 150px;
  height: 60px;
  padding: 11px 0;
  border: none;
  font-weight: 400;
  font-size: 14pt;
  color: rgb(92, 92, 92);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #0371d1;
  }
}

#modal-description {
  font-size: 14pt;
  font-family: nunito sans,sans-serif;
  font-weight: 400;
  padding: 10px;
}

#modal-button-container {
  justify-self: flex-end;
  height: auto;
}

#modal-description-container {
  margin-top: 20px;
  overflow: auto;
  max-height: 20vh;
}

.ticket-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clickable{
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.unclickable-button {
  background-color: rgb(224, 224, 224);
  width: 150px;
  height: 60px;
  padding: 11px 0;
  border: none;
  font-weight: 400;
  font-size: 20pt;
  margin-right: 20px;
  color: #fff;
}

.background {
  display: flex;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#ticket-table-page {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#homepage-container {
  margin: auto;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  min-height: 20%;
  max-height: 300px;
  min-width: 30%;
  max-width: 60%;
  padding: 30px;
  /* box-shadow: 1px 1px 10px rgba(0,0,0,0.5); */
  border: 1px solid #ccc;
}

#navigation-buttons-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navigation-buttons {
  background-color: rgb(222,222,214);
  width: 46%;
  padding: 10px;
  height: 75px;
  min-height: auto;
  padding: 11px 0;
  border: 1px solid #ccc;
  font-weight: 400;
  font-size: 16pt;
  font-family: sans-serif;
  color: rgb(92, 92, 92);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #ededed;
  }
}

#bioverse {
  color: rgb(92, 92, 92);
  font-size: 40pt;
  margin-bottom: 50px;
  font-weight: 400;
  font-family: sans-serif;
}

#header-title {
  color: rgb(92, 92, 92);
  font-size: 30pt;
  font-family: sans-serif;
  bottom:0;
  right:0;
  &:hover {
    cursor: pointer;
  }
}

#required-text {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: 100;
}

.ticket-row:nth-child(even) {
  background-color: #f2f2f2;
}

.ticket-row:nth-child(odd) {
  background-color: #ffffff;
}

#header-row {
  background-color: white;
}
